/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #fff;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000;
  outline: none;
  font-size: 16px;
  transition: box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgba(0, 210, 255, 0.7);
}

button {
  width: 25%;
  padding-left: 4;
  padding-right: 4;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #00d2ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: #0061ff;
  box-shadow: 0 0 15px rgba(0, 97, 255, 0.6);
}

#weather-info {
  margin-top: 20px;
  font-size: 18px;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#error-message {
  margin-top: 20px;
  font-size: 18px;
  color: #c90d0d;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
}

.hidden {
  display: none;
}
